.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.nav-header * {
    margin-right: 10px;
    margin-top: 20px;
}

.menu {
    display: flex;  
    list-style-type: none;
    padding: 20px;
}

.menu li {
    padding: 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.nav-logo {
    display: flex;  
    justify-content: center;
    margin-bottom: 20px;
}

.nav-menu-area {
    display: flex;
    justify-content: center;
}

.burger-menu {
    margin-left: 20px;
    visibility: hidden;
}

.search-box {
    border-bottom: 1px solid black;
    position: absolute; 
    right: 20px;
    padding: 5px;
}

.search-box input {
    border: none;
    margin-left: 5px;
}

.search-box input:focus {
    outline:none;
}

.card {
    border: none !important;   
    margin-bottom: 10px;
}

.choice {
    height: 20px;
    font-size: 11px; 
    color:#63786a;
    font-weight: bold;
}

.new-product {
    height: 50px;
    font-size: 11px; 
}

.login-form{
    width:40em;    
}

.login-area {
    display: flex;
    justify-content: center;
}


.product-detail-img {
    display: flex;
    justify-content: flex-end;
}

/* 화면 작아져도 이미지 안잘리게 */
.product-detail-img img { 
    width: 100%;
}

.product-info{
    font-size: 20px;
    margin-bottom: 10px;
}

.drop-down {
    margin-top: 20px;
}

.add-btn {
    width: 100%;
    margin-top: 20px;
}


.card:hover {
    transform: scale(1.1);
    z-index:1;
}


@media screen and (max-width:1200px){
    .burger-menu {
        visibility: visible;
    }

    .menu {
        display: none;
    }

    /* .search-box {
        display: none;
    } */

    .search-box {
        display: none;
    }
}

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    background-color: burlywood;
    overflow-x: hidden; /*요소 내용이 요소의 가로폭 초과시 초과분 보이지않게*/
    transition: 0.5s;
    padding-top: 60px
}

.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    font-size: 20px;
    width: 120px;

} 

.side-menu .closebtn {
    position:absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background:none;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;    
} 

.side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
} 

.side-search-box {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-search-box input {
    border: none;
    background-color: beige;
    height: 40px;
    width: 80%;
    font-size: 17px;
    margin-left: 3%;
}

.side-search-box input:focus {
    outline:none;
}